@page
@model Ukol_init_3.Pages.EditThrModel

@{
    ViewData["Title"] = "EditThr";
}

<h1>EditThr</h1>

<h4>ForumThread</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ForumThread.Id" />
            <div class="form-group">
                <label asp-for="ForumThread.Name" class="control-label"></label>
                <input asp-for="ForumThread.Name" class="form-control" />
                <span asp-validation-for="ForumThread.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Uložit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./MyProfile" class="btn btn-primary">Zpět</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
