@page
@model IdentitySetupTest5.Areas.Admin.AdminListModel
@{
}
<p>TEST</p>
<!--<table class="table-bordered table">
    @foreach (var c in Model.Users)
    {
    <tr>
        <td>@c.Name</td>
    </tr>
    }
</table>
-->