@page
@model GameBook.Pages.EasterEggModel
@{
}
<div class="map">
    <div class="description">
        <h2>Vyhrál jsi</h2>
    </div>
    <img src="~/Assest/rolls-1029584_1920.jpg" style="width:500px" />
    <a asp-page="Index" class="button button-start">Nová hra</a>
    </div>
