@page
@model GameBook.Pages.GameOverModel
@{
}

<div class="gameover-page">
    <div class="gameover-main">
        <h1>Zemřel jsi</h1>
    </div>
    <a asp-page="Index" class="button button-start">Nová hra</a>
</div>