@page
@model GameBook.Pages.WinModel
@{
}


<div class="gameover-page">
    <div class="gameover-main">
        <h1>Vyhrál jsi</h1>
    </div>
    <a asp-page="Index" class="button button-start">Nová hra</a>
</div>