@page
@model Ukol_init_3.Pages.Admin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Comment.Id" />
            <div class="form-group">
                <label asp-for="Comment.Message" class="control-label"></label>
                <input asp-for="Comment.Message" class="form-control" />
                <span asp-validation-for="Comment.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment.ThreadId" class="control-label"></label>
                <select asp-for="Comment.ThreadId" class="form-control" asp-items="ViewBag.ThreadId"></select>
                <span asp-validation-for="Comment.ThreadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./IndexComm" class="btn btn-primary">Zpět</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
