@page
@model Ukol_init_3.Pages.Admin.IndexThreadsModel


<h1>Threads</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ForumThread[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ForumThread) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./EditThr" asp-route-id="@item.Id" class="btn btn-primary">Upravit</a> |
                <a asp-page="./DeleteThr" asp-route-id="@item.Id" class="btn btn-danger">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>
